<div ng-controller="SeleccionTorneoController">
    
    <div id="header">
        <div class="titulo"> Tenis de Mesa Manager</div>
    </div>
    
    <div id="contents">
        
        <div class="subtitulo">Torneos: </div>
        
            <md-grid-list md-cols="3"  md-row-height="260px">
                <md-grid-tile md-colspan="1" md-rowspan="1">

                    <md-card md-theme="dark-blue">
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="newTournament()">Nuevo</md-button>
                            <md-button ng-click="load()">Cargar muestra</md-button>
                        </md-card-actions>
                    </md-card>
                
                </md-grid-tile>
                <md-grid-tile md-colspan="1" md-rowspan="1" ng-repeat="tournament in tournaments">

                    <md-card md-theme="dark-blue">
                        <md-card-title> 
                          <md-card-title-text>
                            <span class="md-headline">{{tournament.name}}</span>
                            <span class="md-subhead">{{tournament.format.label}}</span>
                            <span class="md-subhead">{{tournament.category.str_l}}</span>
                            <span class="md-subhead">{{tournament.date | date : "dd/MM/yyyy"}}</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ui-sref="torneo.inscripcion({id: tournament.id})">Editar</md-button>
                            <md-button>Descargar</md-button>
                            <md-button ng-click="deleteTournament(tournament)">Eliminar</md-button>
                        </md-card-actions>
                    </md-card>
                
                </md-grid-tile>
            </md-grid-list>
    </div>
    
</div>




