<!doctype html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <title id="title">TDM Manager</title>
    <link rel="shortcut icon" href="img/fetemba.ico" />
    <! Angular>
    <script type="text/javascript" src="node_modules/angular-1.5.8/angular.js"></script>
    <! My app>
    <script type="text/javascript" src="scrips/app.js"></script>
    <script type="text/javascript" src="scrips/controllers/tournamentController.js"></script>
    
    <script type="text/javascript" src="scrips/factories/brackets/bracket_functions.js"></script>
    <script type="text/javascript" src="scrips/factories/brackets/bracket_matches_builder.js"></script>
    <script type="text/javascript" src="scrips/factories/brackets/bracket_seeder.js"></script>
    <script type="text/javascript" src="scrips/factories/brackets/brackets_builder.js"></script>
    <script type="text/javascript" src="scrips/factories/bracket_functions.js"></script>
    
    <script type="text/javascript" src="scrips/factories/groups/groups_builder.js"></script>
    <script type="text/javascript" src="scrips/factories/groups/groups_matches_builder.js"></script>
    <script type="text/javascript" src="scrips/factories/groups/groups_seeder.js"></script>
    <script type="text/javascript" src="scrips/factories/groups/groups_functions.js"></script>
    
    <script type="text/javascript" src="scrips/factories/printer/printer.js"></script>
    <script type="text/javascript" src="scrips/factories/printer/components.js"></script>
    
    <script type="text/javascript" src="scrips/factories/tournament_builder.js"></script>
    <script type="text/javascript" src="scrips/factories/format_builders.js"></script>
    <script type="text/javascript" src="scrips/factories/other_functions.js"></script>    
    <script type="text/javascript" src="scrips/factories/xlsx_parser.js"></script>
    
    <! Boostrap>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <! XLSX parser>
    <script type="text/javascript" src="node_modules/xlsx/jszip.js"></script>
    <script type="text/javascript" src="node_modules/xlsx/xlsx.js"></script>
    <! jsPDF>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script type="text/javascript" src="scrips/factories/printer.js"></script>
    
    <! My fonts >
    <link rel="stylesheet" type="text/css" href="CSS/fonts.css">
        
</head>
<body ng-app="managerModule">
    <div ng-controller="tournamentController">
        <div id="header">
            <div id="headerSuperior">
                <div class="col-md-3">
                    <img src="img/fetemba_header2.ico"/>
                </div>
                <div class="col-md-6">
                    {{torneo.name}}
                </div>
                <div class="col-md-3">
                    <a class="btn col-md-12" data-toggle="collapse" href="#start_and_config">Configuracion</a>
                </div>
            </div>
            <div id="start_and-config" class="collapse"> 
            </div>
            <div id="menu">
                <div id="tabs">
                    <a class="btn col-md-3" ng-click="seleccionarFrame('inscripcion', frames)"> Inscripción </a>  
                    <a class="btn col-md-3" ng-click="seleccionarFrame('grupos', frames)" data-toggle="collapse" href="#menu_grupos"> Grupos </a>
                    <a class="btn col-md-3" ng-click="seleccionarFrame('llave', frames)" data-toggle="collapse" href="#menu_llave"> Llave </a>
                    <a class="btn col-md-3" ng-click="seleccionarFrame('resultados', frames)" data-toggle="collapse" href="#menu_resultados"> Resultados </a>
                </div>
                <div id="menu_grupos" ng-show="seSeleccionoFrame('grupos', frames)">
                    <a class="btn col-md-6" ng-click="mostrar_todos_grupos()"> Todos los grupos </a> 
                    <a class="btn col-md-6" data-toggle="collapse" href="#groups_menu"> Grupo </a> 
                    <div id="groups_menu" class="collapse">
                        <div ng-repeat="grupo in torneo.groups | orderBy: 'id'">
                            <div class="col-md-6"></div>
                            <a class="btn col-md-6" ng-click="mostrar_grupo(grupo.id)">
                                Grupo {{grupo.id + 1}}
                            </a> 
                        </div>
                    </div> 
                </div>
                <div id="menu_llave" ng-show="seSeleccionoFrame('llave', frames)">
                    <div id="brackets_menu" ng-show="torneo.format.bracket_b">
                        <a class="btn col-md-6" 
                           data-toggle="collapse" 
                           href="#bracket_a_rounds" 
                           aria-expanded="false"
                           ng-click="collapse_bracket('b')"> Llave A </a> 
                        <a class="btn col-md-6" 
                           data-toggle="collapse" 
                           href="#bracket_b_rounds" 
                           aria-expanded="false"
                           ng-click="collapse_bracket('a')"> Llave B </a> 
                    </div>
                    <div id="brackets_rounds_menu">
                        <div id="bracket_a_rounds" class="collapse">
                            <a class="btn col-md-2" 
                               data-ng-repeat="n in rounds_numbers(torneo.brackets[0])" 
                               ng-click="show_round(torneo.brackets[0], n)"> 
                               {{round_name(n)}} </a> 
                        </div>
                        <div ng-show="torneo.format.bracket_b">
                            <div id="bracket_b_rounds" class="collapse">
                                <a class="btn col-md-2" 
                                   data-ng-repeat="n in rounds_numbers(torneo.brackets[1])" 
                                   ng-click="show_round(torneo.brackets[1], n)"> 
                                   {{round_name(n)}} </a> 
                            </div>                                
                        </div>
                    </div>  
                </div> <!fin menu_llave>
                <div id="menu_resultados" class="collapse" ng-show="seSeleccionoFrame('resultados', frames)">
                    <div id="results_menu_brackets" ng-show="torneo.format.bracket_a_clasified != 0">
                        <div id="results_menu_bracket_b" ng-show="torneo.format.bracket_b">
                            <a class="btn col-md-3" ng-click="showResults('groups')"> Grupos </a> 
                            <a class="btn col-md-3" ng-click="showResults('bracket_a')"> Llave A </a> 
                            <a class="btn col-md-3" ng-click="showResults('bracket_b')"> Llave B </a> 
                            <a class="btn col-md-3" ng-click="showResults('export')"> Exportar </a> 
                        </div>
                        <div id="results_menu_bracket_b" ng-show="!torneo.format.bracket_b">
                            <a class="btn col-md-4" ng-click="showResults('groups')"> Grupos </a> 
                            <a class="btn col-md-4" ng-click="showResults('bracket_a')"> Llave </a> 
                            <a class="btn col-md-4" ng-click="showResults('export')"> Exportar </a> 
                        </div>
                    </div>
                </div> <! fin menu_resultados>
            </div>
        </div>
        <div id="contents">

            <! Inicio>
            <div id="start_page" data-ng-show="isStart">
                Nombre torneo: <br>
                Fecha: <br>
                Tipo de torneo: (selector) <br>
                <button type="button" ng-click="openNewTournament()">Comenzar otro torneo</button>
            </div>
            
            <! Realizacion del torneo>
            <div id="tournament" data-ng-show="isTournament">
                <div id="content_frame">
                    
                    <! Inscripcion>
                    <div id="inscripcion_frame" data-ng-show="seSeleccionoFrame('inscripcion', frames)">
                        <div class="col-md-6">
                            <div class="col-md-6"> 
                                <input type="file" id="excel_file"> 
                            </div>
                            <div class="col-md-6">
                                <button type="button" ng-click="load_previous_players()">Cargar jugadores</button>
                            </div>
                            <div>
                                <a class="btn" ng-click="agregarTodos()">All</a>
                                <div>
                                    <div class="col-md-3">Filtrar:</div>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="searchedPlayer.nombre" placeholder="Nombre"></div>
                                    <div class="col-md-3">
                                        <input type="text" ng-model="searchedPlayer.club" placeholder="Club"></div>
                                </div>
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th> Rating </th>
                                            <th> Nombre del jugador </th>
                                            <th> Club </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="jugador in jugadores_previos | orderBy:'parseInt(rating)':true | filter:searchedPlayer"
                                            id="{{jugador.rating + jugador.nombre + jugador.club}}">
                                            <td> {{jugador.rating}}</td>
                                            <td> {{jugador.nombre}}</td>
                                            <td> {{jugador.club}}</td>
                                            <td> <button type="button" ng-click="inscribirJugador(jugador)">+</button> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <a class="btn" data-toggle="collapse" href="#newPlayer" aria-expanded="false" > Agregar nuevo jugador </a>  
                                    
                                    <div class="md-inline-form collapse" id="newPlayer">
                                        <md-content layout-gt-sm="row" layout-padding>
                                            <div>
                                              <md-input-container>
                                                <label>Nombre</label>
                                                <input ng-model="nuevo_jugador.nombre" placeholder="Nombre del jugador">
                                              </md-input-container>

                                              <md-input-container>
                                                <label>Club</label>
                                                <input ng-model="nuevo_jugador.club" placeholder="Club del jugador">
                                              </md-input-container>

                                              <md-input-container>
                                                <label>Rating</label>
                                                <input ng-model="nuevo_jugador.rating" placeholder="Rating del jugador">
                                              </md-input-container>
                                              <button type="button" ng-click="agregarNuevoJugador()">
                                                  Agregar jugador
                                              </button> 
                                            </div>
                                      </md-content>
                                    </div>   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                Jugadores inscriptos:   <br>
                                <div>
                                    <div class="col-md-3">Filtrar:</div>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="searchedInscriptedPlayer.nombre" placeholder="Nombre"></div>
                                    <div class="col-md-3">
                                        <input type="text" ng-model="searchedInscriptedPlayer.club" placeholder="Club"></div>
                                </div>
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th> Rating </th>
                                            <th> Nombre del jugador </th>
                                            <th> Club </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="jugador in torneo.players | orderBy:'parseInt(rating)':true | filter:searchedInscriptedPlayer">
                                            <td> {{jugador.rating}}</td>
                                            <td> {{jugador.nombre}}</td>
                                            <td> {{jugador.club}}</td>
                                            <td> <button type="button" ng-click="eliminarJugador(jugador, torneo.players)"> X</button> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" ng-click="seed_tournament()">
                                      Sortear!
                                  </button> 
                            </div>
                        </div>                    
                    </div>

                    
                    <! Grupos>
                    <div id="grupos_frame" data-ng-show="seSeleccionoFrame('grupos', frames)">
                        <div id="detalle_grupos" class="col-md-10">
                            <div data-ng-show="seSelecciono_todosLosGrupos">
                                <div ng-repeat="group in torneo.groups | orderBy: 'id'">
                                    Grupo {{group.id + 1}}: <br>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Rating</th>
                                                <th>Jugador</th>
                                                <th>Club</th>
                                                <th ng-repeat="jugador in group.players | orderBy:'rating':true ">{{jugador.nombre}}</th>
                                                <th>Ptds G/P</th>
                                                <th>Sets G/P</th>
                                                <th>Pts G/P</th>
                                                <th>Pos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="jugador in group.players | orderBy:'rating':true ">
                                                <td align="left">{{jugador.rating}}</td>
                                                <td align="left">{{jugador.nombre}}</td>
                                                <td align="left">{{jugador.club}}</td>
                                                <td align="left" ng-repeat="jOp in group.players | orderBy:'rating':true ">{{resultadoEnGrupoDeContra(group, jugador, jOp)}}</td>
                                                <td align="left">{{difPartidosGanadosPerdidosEnGrupo(group, jugador)}}</td>
                                                <td align="left">{{difSetsGanadosPerdidosEnGrupo(group, jugador)}}</td>
                                                <td align="left">{{difPuntosGanadosPerdidosEnGrupo(group, jugador)}}</td>
                                                <td align="left">{{posicionEnGrupo(group, jugador)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>                  
                                </div>
                            </div>
                            <div ng-repeat="group in torneo.groups">
                                <div data-ng-show="seSelecciono_grupo(group.id)">
                                    Grupo {{group.id + 1}}: <br>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Rating</th>
                                                <th>Jugador</th>
                                                <th>Club</th>
                                                <th ng-repeat="jugador in group.players | orderBy:'rating':true ">{{jugador.nombre}}</th>
                                                <th>Ptds G/P</th>
                                                <th>Sets G/P</th>
                                                <th>Pts G/P</th>
                                                <th>Pos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="jugador in group.players | orderBy:'rating':true ">
                                                <td align="left">{{jugador.rating}}</td>
                                                <td align="left">{{jugador.nombre}}</td>
                                                <td align="left">{{jugador.club}}</td>
                                                <td align="left" ng-repeat="jOp in group.players | orderBy:'rating':true ">{{resultadoEnGrupoDeContra(group, jugador, jOp)}}</td>
                                                <td align="left">{{difPartidosGanadosPerdidosEnGrupo(group, jugador)}}</td>
                                                <td align="left">{{difSetsGanadosPerdidosEnGrupo(group, jugador)}}</td>
                                                <td align="left">{{difPuntosGanadosPerdidosEnGrupo(group, jugador)}}</td>
                                                <td align="left">{{posicionEnGrupo(group, jugador)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button ng-click="editar_grupo(group.id)">
                                        Editar
                                    </button> 
                                    <button ng-click="openGroupPrintPage(group)">
                                        Imprimir
                                    </button>
                                    <div data-ng-show="editando_grupo(group.id)">
                                        <div ng-repeat="partido in grupo.partidos">
                                            <table class="table table-condensed">
                                                Partido {{partidos.indexOf(partido) + 1}}
                                                <thead>
                                                    <tr>
                                                        <th> Jugadores </th>
                                                        <th ng-repeat="set in partido.sets"> Set {{partido.sets.indexOf(set) + 1}} </th>
                                                        <th> Resultado final </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td> {{partido.jugador1.nombre}} </td>
                                                        <td ng-repeat="set in partido.sets"> <input ng-model="set[partido.jugador1.id]" placeholder="0" size="4"> </td>
                                                        <td> <input ng-model="partido.final[partido.jugador1.id]" placeholder="0" size="4"></td>
                                                    </tr>
                                                    <tr>
                                                        <td> {{partido.jugador2.nombre}} </td>
                                                        <td ng-repeat="set in partido.sets"> <input ng-model="set[partido.jugador2.id]" placeholder="0" size="4"> </td>
                                                        <td> <input ng-model="partido.final[partido.jugador2.id]" placeholder="0" size="4"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>                             
                        </div>                    
                    </div>

                    <! Llave>
                    <div id="llave_frame" data-ng-show="seSeleccionoFrame('llave', frames)">
                        <div data-ng-show="seeded">
                            <div ng-show="any_bracket_is_selected">
                                <div data-ng-repeat="match in bracket_funcs.round_n(selected_bracket,selected_round)">
                                    <div data-ng-show="is_playable(match)">
                                        <table class="table table-condensed">
                                            Partido 
                                            <thead>
                                                <tr>
                                                    <th> Jugadores </th>
                                                    <th ng-repeat="set in match.sets"> Set {{match.sets.indexOf(set) + 1}} </th>
                                                    <th> Resultado final </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> {{match.players[0].nombre}} </td>
                                                    <td ng-repeat="set in match.sets"> <input ng-model="set[0]" placeholder="0" size="4"> </td>
                                                    <td> <input ng-model="match.final[0]" placeholder="0" size="4"></td>
                                                </tr>
                                                <tr>
                                                    <td> {{match.players[1].nombre}} </td>
                                                    <td ng-repeat="set in match.sets"> <input ng-model="set[1]" placeholder="0" size="4"> </td>
                                                    <td> <input ng-model="match.final[1]" placeholder="0" size="4"></td>
                                                </tr>
                                            </tbody>
                                        </table> <br><br>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    
                    <! Resultados>
                    <div id="resultados_frame" data-ng-show="seSeleccionoFrame('resultados', frames)">
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>