<div id="llave_frame">
    <div>
        <div>
            <div>
                <a class="btn menu" ng-click="print_matches()"> Imprimir partidos ({{matches_for_print.length}}/4) </a> 
            </div>
            
            <div data-ng-repeat="match in round_matches"> 
                <match current-match="match" current-context="context"></match>
                <a class="btn menu" ng-click="context.print_match(match)"> Agregar a impresión </a>  
            </div>
        </div>
    </div>
</div>