<div id="llave_frame">
    <div data-ng-show="seeded">
        <div ng-show="any_bracket_is_selected">
            <div>
                <a class="btn" ng-click="print_matches()"> Imprimir partidos ({{matches_for_print.length}}/4) </a> 
            </div>
            <div data-ng-repeat="match in bracket_funcs.round_n(torneo.brackets[selected_bracket],selected_round)">
                Partido {{match.id}}
                <div ng-show="!match.is_bye_match">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th> Jugadores </th>
                                <th ng-repeat="set in match.sets"> Set {{match.sets.indexOf(set) + 1}} </th>
                                <th> Resultado final </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id='{{selected_bracket + selected_round + match.players[0].rating + match.players[0].nombre + match.players[0].club}}'>
                                <td> {{match.player(0).nombre}} </td>
                                <td ng-repeat="set in match.sets"> <input ng-model="set[0]" placeholder="0" size="4"> </td>
                                <td> <input ng-model="match.final[0]" placeholder="0" size="4"></td>
                            </tr>
                            <tr id='{{selected_bracket + selected_round + match.players[1].rating + match.players[1].nombre + match.players[1].club}}'>
                                <td> {{match.player(1).nombre}} </td>
                                <td ng-repeat="set in match.sets"> <input ng-model="set[1]" placeholder="0" size="4"> </td>
                                <td> <input ng-model="match.final[1]" placeholder="0" size="4"></td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <div ng-show="match.is_bye_match">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th> Jugadores </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{match.player(0).nombre}} </td>
                            </tr>
                            <tr>
                                <td> {{match.player(1).nombre}} </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <a class="btn" ng-click="print_match(match)"> Agregar a impresión </a>  
            </div>  
        </div>
    </div>
</div>