<div>
    <div>
        <group current-group="group"></group>
        
        <button ng-click="editar_grupo(group.id)">
            Editar
        </button> 
        <button ng-click="print_group(group)">
            Imprimir
        </button>
        <button ng-click="close_group(group)">
            Cerrar grupo
        </button>
        <div ng-show="group.finished"> Grupo cerrado </div>
        <!--div data-ng-show="editando_grupo(group.id)"-->
        <div>
            
            <div data-ng-repeat="match in group.matches"> 
                <match current-match="match" current-context="context"></match>
            </div>
        </div>
    </div>
</div>   