<div id="inscripcion_frame">
    
    <md-grid-list md-cols="7"  md-row-height="90px">
        <md-grid-tile md-colspan="3" md-rowspan="8">
            <md-content class="md-padding" layout="column">
                <div flex-gt-xs="50" layout="column" flex-xs>
                    
                    <md-card md-theme="dark-blue">
                        <md-card-actions layout="row" layout-align="center">
                            <md-button ng-click="newTournament()">Nuevo jugador</md-button>
                        </md-card-actions>
                    </md-card>
                
                    
                    <md-card md-theme="dark-blue">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline"> Buscar jugadores </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="row">
                            <div>
                                <md-input-container>
                                    <label> Código </label>
                                    <input ng-model="jugadorBuscado.id">
                                </md-input-container>
                                <md-input-container>
                                    <label> Apellido y/o nombre </label>
                                    <input ng-model="jugadorBuscado.nombre">
                                </md-input-container>
                                <md-input-container>
                                    <label> Club </label>
                                    <input ng-model="jugadorBuscado.club">
                                </md-input-container>
                            </div>
                        </md-card-content>
                        <md-card-content layout="row" layout-align="space-between">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th> Rating </th>
                                        <th> Apellido </th>
                                        <th> Nombre </th>
                                        <th> Club </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="jugador in jugadores_previos | orderBy:'-rating' | limitTo:10:0" >
                                        <td> {{jugador.rating}}</td>
                                        <td> {{jugador.apellido}}</td>
                                        <td> {{jugador.nombre}}</td>
                                        <td> {{jugador.club_corto}}</td>
                                        <td> <button type="button" ng-click="inscribirJugador(jugador)">+</button> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-card-content>
                    </md-card>    
                </div>
            </md-content>
        </md-grid-tile>
        
        <md-grid-tile md-colspan="1" md-rowspan="1">
            <button type="button" ng-click="seed_tournament()">
                  Sortear!
            </button> 
        </md-grid-tile>
        
        <md-grid-tile md-colspan="3" md-rowspan="4">
            <md-content class="md-padding" layout="column">
                
                    <md-card md-theme="dark-blue">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline"> Jugadores inscriptos </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="row">
                            <div>
                                <md-input-container>
                                    <label> Código </label>
                                    <input ng-model="jugadorBuscado.id">
                                </md-input-container>
                                <md-input-container>
                                    <label> Apellido y/o nombre </label>
                                    <input ng-model="jugadorBuscado.nombre">
                                </md-input-container>
                                <md-input-container>
                                    <label> Club </label>
                                    <input ng-model="jugadorBuscado.club">
                                </md-input-container>
                            </div>
                        </md-card-content>
                        <md-card-content layout="row" layout-align="space-between">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th> Rating </th>
                                        <th> Apellido </th>
                                        <th> Nombre </th>
                                        <th> Club </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="jugador in torneo.players | orderBy:'-rating' ">
                                        <td> {{jugador.rating}}</td>
                                        <td> {{jugador.apellido}}</td>
                                        <td> {{jugador.nombre}}</td>
                                        <td> {{jugador.club_corto}}</td>
                                        <td> <button type="button" ng-click="eliminarJugador(jugador, torneo.players)"> X </button> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-card-content>
                    </md-card>    
            </md-content>
        </md-grid-tile>
    </md-grid-list>
        
</div>                    