<div id="inscripcion_frame">
    
    <div>
        <div class="col-md-5">
            <md-content class="md-padding" layout="column">
                <div flex-gt-xs="50" layout="column" flex-xs>
                    
                    <md-card md-theme="dark-blue">
                        <md-card-actions layout="row" layout-align="center">
                            <md-button ng-click="newTournament()">Nuevo jugador</md-button>
                        </md-card-actions>
                    </md-card>
                
                    
                    <md-card md-theme="dark-blue">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline"> Buscar jugadores </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="row" layout-align="space-between">
                            <div>
                                <md-input-container>
                                    <label> Código </label>
                                    <input ng-model="searchedPlayer.id">
                                </md-input-container>
                                <md-input-container>
                                    <label> Apellido</label>
                                    <input ng-model="searchedPlayer.apellido">
                                </md-input-container>
                                <md-button ng-click="searchPlayer(searchedPlayer)">Buscar</md-button>
                            </div>
                        </md-card-content>
                        <md-card-content layout="row" layout-align="space-between">
                            <table class="table table-condensed" style="font-size: 16px;">
                                <thead>
                                    <tr>
                                        <th> Rating </th>
                                        <th> Id </th>
                                        <th> Apellido </th>
                                        <th> Nombre </th>
                                        <th> Club </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="jugador in jugadores_previos | orderBy:'-rating' | limitTo:30" >
                                        <td> {{jugador.rating}}</td>
                                        <td> {{jugador.tmt_id}}</td>
                                        <td> {{jugador.apellido}}</td>
                                        <td> {{jugador.nombre}}</td>
                                        <td> {{jugador.club_corto}}</td>
                                        <td><i class="material-icons" ng-click="inscribirJugador(jugador)" title="Agregar jugador">add_box</i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-card-content>
                    </md-card>    
                </div>
            </md-content>
        </div>
        
        <div class="col-md-2">
            <md-content class="md-padding" layout="column">
                <div flex-gt-xs="50" layout="column" flex-xs>
                    <md-card md-theme="dark-blue">
                        <md-card-contents>
                            <md-button ng-click="seed_tournament()">Sortear!</md-button>
                        </md-card-contents>
                    </md-card>
                </div>
            </md-content>
        </div>
        
        <div class="col-md-5">
            <md-content class="md-padding" layout="column">
                
                    <md-card md-theme="dark-blue">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline"> Jugadores inscriptos </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout="row">
                            <div>
                                <md-input-container>
                                    <label> Código </label>
                                    <input ng-model="jugadorBuscado.id">
                                </md-input-container>
                                <md-input-container>
                                    <label> Apellido y/o nombre </label>
                                    <input ng-model="jugadorBuscado.nombre">
                                </md-input-container>
                                <md-input-container>
                                    <label> Club </label>
                                    <input ng-model="jugadorBuscado.club">
                                </md-input-container>
                            </div>
                        </md-card-content>
                        <md-card-content layout="row" layout-align="space-between">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th> Rating </th>
                                        <th> Apellido </th>
                                        <th> Nombre </th>
                                        <th> Club </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="jugador in torneo.players | orderBy:'-rating' ">
                                        <td> {{jugador.rating}}</td>
                                        <td> {{jugador.apellido}}</td>
                                        <td> {{jugador.nombre}}</td>
                                        <td> {{jugador.club_corto}}</td>
                                        <td> <i class="material-icons" ng-click="eliminarJugador(jugador, torneo.players)" title="Quitar jugador">clear</i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-card-content>
                    </md-card>    
            </md-content>
        </div>
    </div>
        
</div>                    