<md-card>
    <md-card-title>
        <md-card-title-text>
            <a class="md-headline card_title" ui-sref="torneo.grupos.grupo({group_id: currentGroup.id})"> 
                Grupo {{format_group_id(currentGroup.id)}}  <span ng-show="currentGroup.finished"> (cerrado) </span>
            </a> 
           
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" layout-align="space-between">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Rating</th>
                    <th>Jugador</th>
                    <th>Club</th>
                    <th ng-repeat="jugador in currentGroup.players | orderBy:'rating':true ">{{jugador.apellido}}</th>
                    <th>Ptds G/P</th>
                    <th>Sets G/P</th>
                    <th>Pts G/P</th>
                    <th>Pos</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(j, jugador) in currentGroup.players | orderBy:'rating':true ">
                    <td align="left">{{jugador.rating}}</td>
                    <td align="left">{{jugador.apellido}}</td>
                    <td align="left">{{jugador.club_corto}}</td>
                    <td align="left" ng-repeat="(jO, jOp) in currentGroup.players | orderBy:'rating':true ">{{resultadoEnGrupoDeContra(currentGroup, j, jO)}}</td>
                    <td align="left">{{difPartidosGanadosPerdidosEnGrupo(currentGroup, j)}}</td>
                    <td align="left">{{difSetsGanadosPerdidosEnGrupo(currentGroup, j)}}</td>
                    <td align="left">{{difPuntosGanadosPerdidosEnGrupo(currentGroup, j)}}</td>
                    <td align="left">{{posicionEnGrupo(currentGroup, j)}}</td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="print_group(currentGroup, currentContext)">Imprimir</md-button>
        <md-button ng-click="close_group(currentGroup, currentContext)">Cerrar grupo</md-button>
    </md-card-actions>
</md-card>
