#modal_window {
    z-index: 101;
}

#header {
    background-color: #bd253c;
    z-index: 100;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 128px;
}

#contents {
    margin-top: 128px;
}

#start_and_config {
    margin-top: 300px; 
    background-color: #bd253c;    
    width: 100%;
    height: 1380px;
    font-size: 30;
    color: white;
}

#start_and_config input{
    color: black;
}

.my_centered {
    margin-left: 400px; 
}

#menu {
    margin-top: 128px; 
    background-color: #bd253c;
}

#inscripcion_frame, #configracion_frame {
    margin-top: 162px;     
    width: 100%;
}


#grupos_frame {
    margin-top: 196px;     
    width: 100%;
}

#llave_frame {
    margin-top: 230px;     
    width: 100%;
    height: 100%;
}


.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

a {
    color: white;
}

.titulo {
    color: white;
    font-size: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 35px;
}

.subtitulo {
    color: rgb(21,101,192);
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 24px;
    padding-top: 24px;
}

#nombreDelTorneo {
    color: white;
    font-size: 40;
}