<div id="menu" class="menu"> 
    <md-grid-list md-cols="6"  md-row-height="34px" id="tabs">
        <md-grid-tile md-colspan="1" md-rowspan="1">
            <a ui-sref=".inscripcion"> Inscripción </a>  
        </md-grid-tile>
        <md-grid-tile md-colspan="1" md-rowspan="1">
            <a ui-sref=".grupos.all"> Grupos </a>
        </md-grid-tile>
        <md-grid-tile md-colspan="1" md-rowspan="1">
            <a ui-sref=".llave"> Llave {{matchesReadyToPlayAllBrackets()}}</a>
        </md-grid-tile>
        <md-grid-tile md-colspan="1" md-rowspan="1">
            <a ui-sref=".modo_rapido"> Modo rápido </a>
        </md-grid-tile>
        <md-grid-tile md-colspan="1" md-rowspan="1">
            <a ui-sref=".impresiones"> Impresiones </a>
        </md-grid-tile>
        <md-grid-tile md-colspan="1" md-rowspan="1">
            <a ui-sref=".descargas"> Descargas </a>
        </md-grid-tile>
    </md-grid-list>
    
    
    
    <div id="menu_llave" ng-show="seSeleccionoFrame('llave', frames)">
        <div id="brackets_menu" ng-show="torneo.format.bracket_b">
            <a class="btn col-md-6" 
               data-toggle="collapse" 
               href="#bracket_a_rounds" 
               aria-expanded="false"
               ng-click="collapse_bracket('b')"> Llave A {{matchesReadyToPlayBracketA()}}</a> 
            <a class="btn col-md-6" 
               data-toggle="collapse" 
               href="#bracket_b_rounds" 
               aria-expanded="false"
               ng-click="collapse_bracket('a')"> Llave B {{matchesReadyToPlayBracketB()}}</a> 
        </div>
        <div id="brackets_rounds_menu">
            <div id="bracket_a_rounds" class="collapse">
                <a class="btn col-md-2" 
                   data-ng-repeat="n in rounds_numbers(torneo.brackets[0])" 
                   ng-click="show_round(0, n)"> 
                   {{round_name(n)}} {{matchesReadyToPlayRound(0, n)}}</a> 
            </div>
            <div ng-show="torneo.format.bracket_b">
                <div id="bracket_b_rounds" class="collapse">
                    <a class="btn col-md-2" 
                       data-ng-repeat="n in rounds_numbers(torneo.brackets[1])" 
                       ng-click="show_round(1, n)"> 
                       {{round_name(n)}} {{matchesReadyToPlayRound(1, n)}} </a> 
                </div>                                
            </div>
        </div>  
    </div> <!-- fin menu_llave -->
    <div id="menu_resultados" class="collapse" ng-show="seSeleccionoFrame('resultados', frames)">
        <div id="results_menu_brackets" ng-show="torneo.format.bracket_a_clasified != 0">
            <div id="results_menu_bracket_b" ng-show="torneo.format.bracket_b">
                <a class="btn col-md-3" ng-click="showResults('groups')"> Grupos </a> 
                <a class="btn col-md-3" ng-click="showResults('bracket_a')"> Llave A </a> 
                <a class="btn col-md-3" ng-click="showResults('bracket_b')"> Llave B </a> 
                <a class="btn col-md-3" ng-click="showResults('export')"> Exportar </a> 
            </div>
            <div id="results_menu_bracket_b" ng-show="!torneo.format.bracket_b">
                <a class="btn col-md-4" ng-click="showResults('groups')"> Grupos </a> 
                <a class="btn col-md-4" ng-click="showResults('bracket_a')"> Llave </a> 
                <a class="btn col-md-4" ng-click="showResults('export')"> Exportar </a> 
            </div>
        </div>
    </div> <!-- fin menu_resultados-->
</div>
